html, body {
  height: 100%;
  font-family: "Arial","Helvetica";
}

body {
  background-color: #333333;
}

.section {
  background-color: #FFFFFF;
  width: 100%;
}


#hello {
  background-image: url("http://res.cloudinary.com/dmimp3tor/image/upload/v1486841340/code-luis-llerena_hkcxnx.jpg");
  background-size: cover;
  color: white;
  padding-bottom: 1.5%;  
  height: 75%;
  width: 100%;
}

#hello h1 {
	margin-top: 50%;
}

#projects {
	width: 90%;
	margin-left: 5%;
}

