html, body {
  height: 100%;
  font-family: "Arial","Helvetica";
}

body {
  padding-top: 50px;
  background-color: #C6C5C5;
}

.section {
  background-color: #FFFFFF;
  margin-left: 5%;
  width: 90%;
}


#hello {
  padding-bottom: 1.5%;
}