html, body {
  height: 100%;
  font-family: "Arial","Helvetica";
}

body {
  background-color: #333333;
}

.section {
  background-color: #FFFFFF;
  margin-top: 2%;
  width: 100%;
}


#hello {
  background-image: url("https://res.cloudinary.com/dmimp3tor/image/upload/v1486841340/code-luis-llerena_hkcxnx.jpg");
  background-size: cover;
  color: white;
  margin-top: 0%;
  padding-bottom: 1.5%;  
  height: 100%;
  width: 100%;
}

#hello h1 {
  position: relative;
	margin-top: 25%;
}

#projects {
	width: 90%;
	margin-left: 5%;
}

#about {
  background-image: url("https://res.cloudinary.com/dmimp3tor/image/upload/v1486841336/chicago-roman-arkhipov_ci7eip.jpg");
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
}

#inner-about {
  background-color: rgba(77,77,77,0.5);
  border: 5px solid rgb(55,55,55);
  border-radius: 5px;
  color: white;
  margin-top: 15%;
  position: relative;
}

#resume {
  position: relative;
  top: 5%;
  left: 2.5%;
  width: 90%;
}

.resume-section h3 {
  position: relative;
  left: 5%;
}

.resume-section p {
  position: relative;
  left: 5%;
}


ul {
  list-style-type: none;
}

#linkspanel {
  padding-bottom: 5%;
}
